// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Playfair Display", "Georgia", "serif";

