<form class="d-flex my-5" role="search">
  <input class="form-control me-2 rounded-4" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success rounded-4" type="submit">Search</button>
</form>
