<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('') %>);">
  <div class="container">
    <span data-controller="typed">
      <h1 data-typed-target="element"></h1>
    </span>
    <p>Discover and Share Costumes with Our Creative Community.</p>
    <%= link_to "Book a Costume", costumes_path, class: "btn btn-primary" %>
  </div>
</div>
