<div class="container" data-controller="search">
  <div class="mt-5">
    <h1>Find your costume...</h1>
  </div>

  <%= render 'costumes/search' %>

  <div data-search-target="results">
    <%= render 'costumes/results', costumes: @costumes %>
  </div>
</div>

