<div class="container" data-controller="search">
  <div class="mt-5">
    <h1 class="text-center">Find your costume</h1>
  </div>

  <%= render 'costumes/search', start_date: @start_date, end_date: @end_date %>

  <div data-search-target="results" class="mb-5">
    <%= render 'costumes/results', costumes: @costumes %>
  </div>
</div>
