<h1>Costumes#index</h1>
<p>Find me in app/views/costumes/index.html.erb</p>
<%= link_to "Add New Costume", data: { toggle: "modal", target: "#new-costume" } %>
<%= render 'shared/modal_new_costume', costume: @costume %>
<button type="button" class="btn btn-success text-white" data-bs-toggle="modal" data-bs-target="#new-costume">
      Create New Costume
    </button>
