<%# BOOKINGS %>
<div class="container my-5">
  <div class="row d-flex justify-content-center border">
    <div class="col-10">

      <h1>Your Costumes</h1>
      <p>Showing the users costumes here:</p>
      <p><%= current_user.first_name %></p>


    </div>
  </div>
</div>


<%# RENTALS %>
<div class="container my-5 border">
  <div class="row d-flex justify-content-center">
    <div class="col-10">

      <h1><%= current_user.first_name %>s Rentals</h1>
      <p>Showing the users rentals here:</p>
      <ul>
      <% @bookings.each do |booking| %>
        <li><%= booking.costume.name %></li>
        <li><%= booking.costume.user.first_name %></li>
      <% end %>
      </ul>

    </div>
  </div>
</div>
