<%# BOOKINGS %>
<div class="container my-5">
  <div class="row d-flex justify-content-center border">
    <div class="col-10">

      <h1>Your Costumes</h1>
      <p>Showing the users costumes here:</p>

    </div>
  </div>
</div>


<%# RENTALS %>
<div class="container my-5 border">
  <div class="row d-flex justify-content-center">
    <div class="col-10">

      <h1>Your Rentals</h1>
      <p>Showing the users rentals here:</p>

    </div>
  </div>
</div>
