<!-- This div could be used if we want to set a width to the footer -->
<div class="">

  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <!-- Social media section -->
    <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
      <!-- Left side of the container -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- -->

      <!-- Right side of the container, with the icons -->
      <div>
        <a href="" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-twitter"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-google"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-instagram"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-github"></i></a>
      </div>
      <!-- -->
    </section>
    <!-- End of Social media section -->

    <!-- Links section, divided into 4 columns -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Costumize</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              We'll write a very coon product description here.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Features</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Rent put your costume</a>
            </p>
            <p>
              <a href="#!" class="text-white">Find a costume to rend</a>
            </p>
            <p>
              <a href="#!" class="text-white"><!-- Just in case we need another link here --></a>
            </p>
            <p>
              <a href="#!" class="text-white"><!-- Just in case we need another link here --></a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Your Account</a>
            </p>
            <p>
              <a href="#!" class="text-white">Become a Partner</a>
            </p>
            <p>
              <a href="#!" class="text-white">F.A.Q.</a>
            </p>
            <p>
              <a href="#!" class="text-white">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Gotham, NU 10012, VX</p>
            <p><i class="fas fa-envelope mr-3"></i> contact@costumize.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 28 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 28 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- End of Links section  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright: <a class="text-white" href="">Costumize.com</a>
    </div>
    <!-- -->
  </footer>
  <!-- End of Footer -->

</div>
<!-- End of footer container -->
