<div class="d-flex-wrapper">
  <!-- Main content -->
  <div class="content">
    <!-- Your main content goes here -->
  </div>
  <!-- End of Main content -->

  <!-- Footer -->
  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <!-- Social media section -->
    <section class="d-flex justify-content-between p-4 border-top border-dark" style="background-color: #fff">
      <!-- Left side of the container -->
      <div class="me-5 text-black">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- -->

      <!-- Right side of the container, with the icons -->
      <div>
        <a href="" class="purble me-4"><i class="fab fa-instagram"></i></a>
        <a href="" class="purble me-4"><i class="fab fa-linkedin"></i></a>
        <a href="" class="purble me-4"><i class="fab fa-github"></i></a>
      </div>
      <!-- -->
    </section>
    <!-- End of Social media section -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0)">
      © 2024 Copyright: <a class="text-white" href="">Costumize.com</a>
    </div>
    <!-- -->
  </footer>
  <!-- End of Footer -->
</div>