<!-- This div could be used if we want to set a width to the footer -->
<div class="mt-5">

  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <!-- Social media section -->
    <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
      <!-- Left side of the container -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- -->

      <!-- Right side of the container, with the icons -->
      <div>
        <a href="" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-twitter"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-google"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-instagram"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-github"></i></a>
      </div>
      <!-- -->
    </section>
    <!-- End of Social media section -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright: <a class="text-white" href="">Costumize.com</a>
    </div>
    <!-- -->
  </footer>
  <!-- End of Footer -->

</div>
<!-- End of footer container -->
