<div class="modal" id="confirmation-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-dialog">
      <div class="modal-content modal-size rounded-5">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center aligin-items-center text-center modal-size">

          <div class="d-flex flex-column justify-content-evenly">
            <div class="gap-3 text-align-center">
            <span id="big-emoji">🥳</span class="big-emoji">
            <h2>Congratulations</h2>
            </div>
            <h5>You've rented a <%= @costume.name %>!</h5>
          <a href="<%= users_index_path %>"><button type="button" class="btn btn-primary text-white booking-button rounded-4">See Overview</button></a>

          </div>

        </div>
        <div class="modal-footer border-0 d-flex justify-content-center">
        </div>
      </div>
    </div>
  </div>
</div>
