.search-bar-container {
  display: flex;
  border: 1px solid black;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
}

.search-field {
  flex: 1;
  padding: 10px;
  position: relative;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 70%;
    background-color: black;
    transform: translateY(-50%);
  }

  .form-control {
    width: 100%;
    border: none;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.date-picker {
  flex: 1;
  padding: 10px;
  position: relative;

  .form-control {
    width: 100%;
    border: none;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.search-button {
  flex: none;
  display:flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: none;
  background-color: $purple;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.search-button .fa-search {
  font-size: 1.2em;
  color: white;
}

.search-position {
  border-bottom: 2px solid black;
}
