// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "small_pictures";
@import "booking_button";
@import "show_column";

.hover-danger-icon {
  color: black;
  transition: color 0.2s ease;
}

.hover-danger-icon:hover {
  color: $purple;
}

.link i {
  border: none;
  outline: none;
  text-decoration: none;
}

.link i.fa-pen {
  border-bottom: none;
}

.link:hover i {
  border: none;
  outline: none;
  text-decoration: none;
}
