@import '../config/colors'; // Ensure you have access to color variables

// Link styles
a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

// Button styles
button,
.btn-primary {
    background-color: $purple;
    border-color: $purple;
    &:hover {
      background-color: $dark-purple;
      border-color: $dark-purple;
  }
}