.navbar-lewagon {
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 150px;
  }

  .nav-link {

    &:hover {
      color: $purple;
      text-decoration: underline;
    }

    &.active {
      color: $purple !important; 
    }
  }
}