// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Import components
@import 'components/index';
@import 'components/avatar';
@import 'components/form_legend_clear';
@import 'components/alert';
@import 'components/navbar';
@import 'components/banner';
@import 'components/search';
@import 'components/front_search';
@import 'components/cards';

// Your CSS partials
@import "pages/index";

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}
